<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
<center style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 40px">
    Введите слово и <br>количество повторений
</center>
<br><br><br><br><br><br><br>
 <center>
     <form action="" method="post">
        <p>
	    <label style="font-size: 32px" for="word">Word</label>
	    <input type="text" name="word" value=
                {% if cookie %}
                    {{ cookie.get('word') }}
                {% endif %}
        >
	</p>
	<p>
	    <label style="font-size: 32px"  for="quantity">Quantity</label>
	    <input type="text" name="quantity" value=
                {% if cookie %}
                    {{ cookie.get('quantity') }}
                {% endif %}
        >
	</p>
	<p>
	    <input type="submit">
	</p>
    </form>
 </center>

</body>
</html>